<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src="./assets/service/service-1.jpg" class="service-banner-1" height="620">
        </div>
        <div class="col-md-4" >
            <img src="./assets/service/service-2.jpg" class="service-banner-2" height="620">
        </div>
        <div class="col-md-4">
            <img src="./assets/service/service-3.jpg" class="service-banner-3" height="620">
        </div>
    </div>
</div>
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center text-white fw-bold p-2">Royal Enfield Service</h4>
            </div>
        </div>
    </div>
</div>
<div class="bg-service-img">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4 class="fs-1 text-white booking-heading">Service Booking </h4>
                <h5 class="fw-bold mt-5 text-light">Make an appointment for Royal Enfield service from the <br> safety
                    and comfort of your home.</h5>
                <h5 class="fs-1 text-light fw-bold booking-toll">Toll Free Number:</h5>
                <h1 class="fs-1 text-light fw-bold booking-number">180023445</h1>
            </div>
            <div class="col-md-6">
                <div class="mt-5">
                    <p class="fw-bold text-white p">Please Fill Your Details:</p>

                    <form action="" method="post" class="row">
                        <div class="form-group pb-4">
                            <input type="text" name="name" id="exampleInputText" placeholder="Full Name"
                                class="form-control fw-bold" aria-describedby="name">
                        </div>
                        <div class="form-group pb-4">
                            <input type="email" name="email" id="exampleInputEmail1" placeholder="Enter Your Email"
                                class="form-control fw-bold" aria-describedby="emailHelp" required>
                        </div>
                        <div class="form-group pb-4">
                            <input type="Number" name="email" id="exampleInputNumber" placeholder="Ente Your Nummber"
                                class="form-control fw-bold" aria-describedby="numberHelp" required>
                        </div>
                        <div class="form-group pb-4 col-md-6">
                            <select id="inputState" class="form-select form-control fw-bold text-secondary">
                                <option selected>State</option>
                                <option>Tamil Nadu</option>
                                <option>Kerla</option>
                                <option>Karnataka</option>
                                <option>Madhya Pradesh</option>
                            </select>
                        </div>

                        <div class="form-group pb-4 col-md-6">
                            <select id="inputState" class="form-select form-control fw-bold text-secondary">
                                <option selected>City</option>
                                <option>Pudukottai</option>
                                <option>Aranthangi</option>
                                <option>Trichy</option>
                                <option>Karur</option>
                                <option>Chennai</option>
                            </select>
                        </div>
                        <div class="form-group pb-4">
                            <select id="inputState" class="form-select form-control fw-bold ">
                                <option selected>Select Service Center</option>
                                <option>Pudukottai</option>
                                <option>Aranthangi</option>
                                <option>Trichy</option>
                                <option>Karur</option>
                                <option>Chennai</option>
                            </select>
                        </div>

                        <div class="form-check form-group pb-4 col-md-6 ">
                            <input class="form-check-input mx-1" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault2" checked>
                            <label class="form-check-label fw-bold text-white " for="flexRadioDefault2">
                                Self drop & Pick-Up
                            </label>
                        </div>

                        <div class="form-check form-group pb-5 col-md-6">
                            <input class="form-check-input mx-1" type="radio" name="flexRadioDefault"
                                id="flexRadioDefault2" checked>
                            <label class="form-check-label fw-bold text-white" for="flexRadioDefault2">
                                Service at Doorstep
                            </label>
                        </div>
                        <div class="form-group pb-4 col-md-6">
                            <input type="date" name="name" id="exampleInputText" placeholder="Full Name"
                                class="form-control fw-bold" aria-describedby="name">
                        </div>
                        <div class="form-group pb-4 col-md-6">
                            <select id="inputState" class="form-select form-control fw-bold">
                                <option selected>Select Motorcycle Model</option>
                                <option>Classic 350</option>
                                <option>Classic 500</option>
                                <option>Himalayan</option>
                                <option>Bullet 350</option>
                                <option>Bullet 500</option>
                                <option>Meteor 350</option>
                                <option>Interceptor 650</option>
                            </select>
                        </div>

                        <p class="text-white disclaimer pb-2"><span class="fw-bold">Disclaimer :</span> By signing this
                            form/checking this box, you acknowledge and agree that we may use the information you share
                            with us, to communicate with you through e-mails, text messages and calls, in order to
                            provide our product or service related information and/or for promotional and marketing
                            purposes. All information provided will be secured and processed as per our privacy policy.
                            For Service at Doorstep option, nominal charges will be applicable.</p>

                            <div class="form-check pb-5">
                                <input class="form-check-input mx-1" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label fw-bold text-info" for="flexCheckDefault">
                                 I accept <a href="#" class=" text-white">terms & Conditions</a> as well as <a href="#" class="text-white">Privacy Policy</a>
                                </label>
                              </div>
                              <div class="pb-5">
                              <button type="submit" style="width: 150px;" class="btn btn-outline-light fw-bold p-2">Submit</button>
                              </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/assets/svg/footerpointer.svg" alt="footepointer"> <br> <br>
            <a href="https://www.royalenfield.com/in/en/forms/book-a-test-ride/" target="_blank" class="service-foot text-decoration-none text-white">Book a Test Ride ></a>
        </div>
        <div class="col-md-4 text-center">
            <img src="/assets/svg/footermap.svg" alt="footemap"> <br> <br>
            <a href="https://www.royalenfield.com/in/en/locate-us/dealers/" target="_blank" class="service-foot text-decoration-none text-white">Find a Store ></a>
        </div>
        <div class="col-md-4 text-center">
            <img src="/assets/svg/footermap.svg" alt="footemap"> <br> <br>
            <a href="https://www.royalenfield.com/in/en/rides/ride-outs/" target="_blank" class="service-foot text-decoration-none text-white">Ride Out ></a>
        </div>
    </div>
</div>
<app-footer></app-footer>
