<app-header></app-header>
<div class="bg-contact"> <br>
    <div class="container mt-5 space bg-body-secondary">
        <div class="row ">
            <div class="col-md-12 m-3">
                <h5 class="fw-semibold pb-3 mt-3"><i>For assistance on all things Enfield, contact us at:</i> </h5>
                <i class="fa fa-phone text-secondary" aria-hidden="true"></i> <span class="text-danger fw-bold">
                    180023445</span>
                <p class="text-secondary fw-semibold"> (Customer Care & Roadside Assistance 24X7)</p>
                <i class="fa fa-envelope text-secondary mt-1" aria-hidden="true"></i> <span class="text-danger fw-bold">
                    support@re.com</span>
                <h5 class="fw-semibold py-3"><i>Please fill in your details</i> </h5>
            </div>
        </div>
        <form action="#" method="post" class="row mx-3">
            <div class="form-group pb-4 col-md-4">
                <input type="text" name="name" id="exampleInputText" placeholder="Full Name"
                    class="form-control border border-dark-subtle fw-semibold bg-body-secondary" aria-describedby="name" required>
            </div>
            <div class="form-group pb-4 col-md-4">
                <input type="email" name="email" id="exampleInputEmail1" placeholder="Enter Your Email"
                    class="form-control border border-dark-subtle fw-semibold bg-body-secondary" aria-describedby="emailHelp" required>
            </div>
            <div class="form-group pb-4 col-md-4">
                <input type="Number" name="email" id="exampleInputNumber" placeholder="Ente Your Nummber"
                    class="form-control border border-dark-subtle fw-semibold bg-body-secondary" aria-describedby="numberHelp" required>
            </div>

            <div class="form-group pb-4 col-md-4">
                <select id="inputState" class="form-select form-control border border-dark-subtle fw-semibold bg-body-secondary">
                    <option selected>Select Country</option>
                    <option>India</option>
                    <option>Pakistan</option>
                    <option>Africa</option>
                    <option>Europe</option>
                </select>
            </div>


            <div class="form-group pb-4 col-md-4">
                <select id="inputState" class="form-select form-control border border-dark-subtle fw-semibold bg-body-secondary">
                    <option selected>Select State</option>
                    <option>Tamil Nadu</option>
                    <option>Kerla</option>
                    <option>Karnataka</option>
                    <option>Madhya Pradesh</option>
                </select>
            </div>

            <div class="form-group pb-4 col-md-4">
                <select id="inputState" class="form-select form-control border border-dark-subtle fw-semibold bg-body-secondary">
                    <option selected>Select City</option>
                    <option>Pudukottai</option>
                    <option>Aranthangi</option>
                    <option>Trichy</option>
                    <option>Karur</option>
                    <option>Chennai</option>
                </select>
            </div>
            <div class="form-group pb-4">
                <select id="inputState" class="form-select form-control border border-dark-subtle fw-semibold bg-body-secondary ">
                    <option selected>Select Type of Query</option>
                    <option>Ask a Question</option>
                    <option>Media Related Query</option>
                </select>
            </div>

            <div class="form-group pb-4">

                <textarea class="form-control text border border-dark-subtle fw-semibold bg-body-secondary" placeholder="Breif Description of your Query" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>


            <p class="disclaimer pb-2 fw-semibold"><span class="fw-bold">Disclaimer :</span> By signing this form/checking this box, you acknowledge and agree that we may use the information you share with us, to communicate with you through e-mails, text messages, WhatsApp and calls, in order to provide our product or service related information and/or for promotional and marketing purposes. All information provided will be secured and processed as per our <a href="#" class="text-decoration-none fw-bold text-dark"> privacy policy</a>.</p>

            <div class="form-check pb-5 ms-1">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    I accept <a href="#" class="text-decoration-none text-dark fw-bold">terms & Conditions</a> as well as <a href="#"
                        class="text-decoration-none text-dark fw-bold">Privacy Policy</a>
                </label>
            </div>
            <div class="pb-5">
                <button type="submit" style="width: 150px;" class="btn btn-outline-dark fw-bold p-2">Submit </button>
            </div>

        </form>

    </div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 text-center">
            <img src="/assets/svg/footerpointer.svg" alt="footepointer"> <br> <br>
            <a href="https://www.royalenfield.com/in/en/forms/book-a-test-ride/" target="_blank" class="service-foot text-decoration-none text-white">Book a Test Ride ></a>
        </div>
        <div class="col-md-3 text-center">
            <img src="/assets/svg/footermap.svg" alt="footemap"> <br> <br>
            <a href="https://www.royalenfield.com/in/en/locate-us/dealers/" target="_blank" class="service-foot text-decoration-none text-white">Find A store ></a>
        </div>
        <div class="col-md-3 text-center">
            <img src="/assets/svg/footermap.svg" alt="footemap"> <br> <br>
            <a href="https://www.royalenfield.com/in/en/rides/ride-outs/" target="_blank" class="service-foot text-decoration-none text-white">Ride out ></a>
        </div>
        <div class="col-md-3 text-center">
            <img src="/assets/svg/book-a-service.svg" alt="footemap" width="53"> <br> <br>
            <a href="#" routerLink="/service" class="service-foot text-decoration-none text-white">Book a service ></a>
        </div>
    </div>
</div>
<app-footer></app-footer>
