<!-- ----------------------------------------------footer----------------------------------------------------
<footer>
    <div class="row">
        <div class="col-md-12">
            <footer class="footer">
                <div class="waves">
                    <div class="wave" id="wave1"></div>
                    <div class="wave" id="wave2"></div>
                    <div class="wave" id="wave3"></div>
                    <div class="wave" id="wave4"></div>
                </div>
                <ul class="icons">
                    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-google-plus-g"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
                </ul>

                <ul class="menu">
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Service</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
                <p>&copy;2023 <a target="_blank" href="http://www.infoonclick.com/" class="text-decoration-none text-white">Info Onclick</a> | All Rights Reserved</p>
            </footer>
            </div>
            </div>
            </footer> -->











<footer class="text-center text-lg-start text-white mt-5 bg-dark">

  <section class="d-flex justify-content-between p-4 bg-light text-dark">
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>

    <div>
      <a href="" class="me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Motorcycles</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-white text-decoration-none">Meteor 650</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Hunter 350</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Scram 411</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Classic 350</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Meteor</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Interceptor 650</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Continental GT</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Himalayan</a>
          </p>
        </div>

        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">Rides & Events</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-white text-decoration-none">Rides</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Events</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Ride Out</a>
          </p>
        </div>
        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold ">Support</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-white text-decoration-none">Stores</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Owner's Manual</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Contact Us</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Book a Test Ride</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Make It Yours</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Become a Dealer</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Parts Distributor</a>
          </p>
        </div>


        <div class="col-md-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold">About Us</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-white text-decoration-none">Since 1901</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">About Eicher Motors</a>
          </p>
        </div>

        <div class="col-md-2 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">News & Media</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-white text-decoration-none">News</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Press Releases</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Media Kit</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Events</a>
          </p>
        </div>

        <div class="col-md-2 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold">Our World</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
          <p>
            <a href="#!" class="text-white text-decoration-none">Royal Enfield App</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Custom World</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Media</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Since 1901</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Wallpapers</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Forum</a>
          </p>
          <p>
            <a href="#!" class="text-white text-decoration-none">Trip Stories</a>
          </p>

        </div>
      </div>
    </div>
  </section>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white text-decoration-none" href="https://infoonclick.com/">royalenfield.com</a> All Rights Reserved.
    Developed By: <a class="text-white text-decoration-none" href="https://infoonclick.com/">Info Onclick</a>
  </div>
</footer>