<app-header></app-header>


  <!----------------------------------------------------polygon-------------------------------------------------->
<div class="container-fluid" >
  <div class="row">
    <div class="col-md-12" >
            <img src="./assets/banner/banner-1.jpg" class="banner-1" alt="banner">
        </div>
</div>
</div>



<!----------------------------------------------------available-------------------------------------------------->
<div class="container my-5">
    <p class="text-white size fw-bold text-center text-decoration-underline"> Available In </p>
    <div class="row text-center">

        <div class="col-md-4">
            <img class="available" src="./assets/home/greenTank.jpg" alt="green">
            <p class="text-white">Redditch Green</p>
        </div>
        <div class="col-md-4">
            <img src="./assets/home/redTank.jpg"
                class="available" alt="red">
            <p class="text-white">Redditch Red</p>
        </div>
        <div class="col-md-4">
            <img src="./assets/home/greyTank.jpg"
                class="available" alt="">
            <p class="text-white">Redditch Grey</p>
        </div>
    </div>
</div>



<!----------------------------------------------------Specification---------------------------------------------->

<div class="container my-5">
    <p class="text-white engine">Engine Specification</p>
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-white">346cc</h1>
            <h5 class="text-white">19.8 bhp @ 5250 rpm</h5>
            <p class="text-white sub">Redditch came to prominence during the industrial Revolution,
                earning a worldwide reputation for its needes and fishing tackle.
                the first royal enfield rolled out of Redditch in 1901. thereafter the
                town earned a permanent place in british motorcycling history. the
                and feel of a royal enfield. </p>

            <button type="button" class="btn btn-outline-primary seemore">See More <i class="bi bi-plus"></i></button>
        </div>
        <div class="col-md-4">
            <img src="./assets/home/Engine.jpg"
                class="wheel" alt="engine">
        </div>
    </div>
</div>

<!------------------------------------------------trending------------------------------------------------------>

<div class="container my-5">
    <div class="row">
        <div class="col-md-3">
            <h5 class="text-white trending"> Trending Items</h5> <br>
            <p class="text-white "> Redditch to prominence during<br>
                the industrial Revolution, earning a <br>
                worldwide reputation for its needles <br>
                and fishing tackle</p>
            <button type="button" class="btn btn-outline-primary seemore">View More</button>
        </div>
        <div class="col-md-3">
            <div class="bg-white rounded-4">
                <img src="./assets/home/Helmet.jpeg" class="helmet" alt="helmet"> <br>
                <p class="font-weight-bold">&nbsp; Royal Enfield Helmet</p>
                <p class="text-danger font-weight-bold"> &nbsp; ₹ 2,700</p>
                &nbsp;<span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star"></span>
                <br><br>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bg-white rounded-4">
                <img src="./assets/home/Jacket.jpeg" class="helmet" alt=""> <br>
                <p class="font-weight-bold">&nbsp; Royal Enfield Jacket</p>
                <p class="text-danger font-weight-bold"> &nbsp; ₹ 12,000</p>
                &nbsp;<span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star"></span>
                <br><br>
            </div>
        </div>

        <div class="col-md-3">
            <div class="bg-white rounded-4">
                <img src="./assets/home/Gloves.jpeg" class="helmet" alt=""> <br>
                <p class="font-weight-bold">&nbsp; Royal Enfield Gloves</p>
                <p class="text-danger font-weight-bold"> &nbsp; ₹ 2,000</p>
                &nbsp;<span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star rate"></span>
                <span class="fa fa-star"></span>
                <br><br>
            </div>
        </div>
    </div>
</div>

<!------------------------------------------------Wheel------------------------------------------------------>

<div class="container my-5 ">
    <div class="row">
        <div class="col-md-4">
            <img src="./assets/home/alloy.jpeg" class="wheel" alt="">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <p class="text-white engine">Alloy Wheels</p>
            <h3 class="text-white"> Front 19" & Rear 18"</h3>
            <p class="text-white sub">Whether on mountains or riding through plains, with <br>
                its legacy and time-tested performance, this is a <br>
                machine you can count on</p>
            <p class="text-warning font-weight-bold">₹ 7,200</p>
            <span class="fa fa-star text-warning"></span>
            <span class="fa fa-star text-warning"></span>
            <span class="fa fa-star text-warning"></span>
            <span class="fa fa-star text-warning"></span>
            <span class="fa fa-star text-white"></span> <br>
            <button type="button" class="btn btn-primary font-weight-bold seemore">Add to Cart <i class="bi bi-arrow-right"></i></button>
        </div>
    </div>
</div>

<!------------------------------------------------Gallery------------------------------------------------------>

<section class="my-5">
    <p class="text-white trending font-weight-bold">Our Gallery</p> <br> <br>


    <div class="product">
        <div class="itemBox"><img src="./assets/home/E1.png" alt="classic"> </div>
        <div class="itemBox"><img src="./assets/home/H1.jpg" alt=""> </div>
        <div class="itemBox"><img src="./assets/home/I1.jpg" alt=""> </div>
        <div class="itemBox"><img src="./assets/home/M1.jpeg" alt=""> </div>
        <div class="itemBox"><img src="./assets/home/C1.jpeg" alt="">
        </div>

        <div class="itemBox" data-item="classic"><img src="./assets/home/E2.png" alt=""> </div>
        <div class="itemBox" data-item="himalayan"><img src="./assets/home/H2.jpg" alt=""> </div>
        <div class="itemBox" data-item="interceptor"><img src="./assets/home/I2.png" alt=""> </div>
        <div class="itemBox" data-item="meteor"><img src="./assets/home/M2.jpeg" alt=""> </div>
        <div class="itemBox" data-item="continental"><img src="./assets/home/C2.jpg" alt=""> </div>

        <div class="itemBox" data-item="classic"><img src="./assets/home/E3.jpg" alt=""> </div>
        <div class="itemBox" data-item="himalayan"><img src="./assets/home/H3.jpeg" alt=""> </div>
        <div class="itemBox" data-item="interceptor"><img src="./assets/home/I3.png" alt=""> </div>
        <div class="itemBox" data-item="meteor"><img src="./assets/home/M3.png" alt=""> </div>
        <div class="itemBox" data-item="continental"><img src="./assets/home/C3.jpg" alt=""> </div>

        <div class="itemBox" data-item="classic"><img src="./assets/home/E4.png" alt=""> </div>
        <div class="itemBox" data-item="interceptor"><img src="./assets/home/I4.jpg" alt=""> </div>
        <div class="itemBox" data-item="meteor"><img src="./assets/home/M4.jpg" alt=""> </div>
        <div class="itemBox" data-item="continental"><img src="./assets/home/C4.jpg" alt=""> </div>

        <div class="itemBox" data-item="classic"><img src="./assets/home/E5.jpg" alt=""> </div>
    </div>
</section>


<!------------------------------------------------special------------------------------------------------------>
<div class="container-fluid bg-warning my-5 py-3">
    <div class="row">
        <div class="col-md-5">
            <img src="./assets/home/ad-shoe.jpg" class="special" alt="">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <h4 class="line font-weight-bold"> Special Offer</h4>
            <p class="bold">Royal Enfield Protective riding boots aren't just <br>
                made for protection, but also for long hours of use.</p>
            <h4 class="font-weight-bold">₹ 4,000 <span class="text-secondary">(<del>₹ 10000</del>)</span></h4>
            <button type="button" class="btn btn-danger font-weight-bold seemore extra">&nbsp; Buy Now &nbsp;</button>
        </div>
    </div>
</div>

<!------------------------------------------------Collection------------------------------------------------------>



<div class="container">
    <p class="text-white collections">Collections</p>
    <div class="row">
        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/white-helmet.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">white and brown</p>
                    <h5 class="card-title">Enfield Helmet</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 4,300</p>

                </div>
            </div>
        </div>

        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/T-shirt.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">Men Ride Enfield</p>
                    <h5 class="card-title">Enfield T-Shirt</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 1,300</p>

                </div>
            </div>
        </div>

        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/cup.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">White Coffee Mug</p>
                    <h5 class="card-title">Enfield Mug</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 800</p>

                </div>
            </div>
        </div>

        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/bag.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">Travel Lether Bag</p>
                    <h5 class="card-title">Enfield Bag</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 8,500</p>

                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/kit.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">All in One</p>
                    <h5 class="card-title">Enfield Essential Kit</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 4,300</p>

                </div>
            </div>
        </div>

        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/keychain.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">Design Logo Keychain</p>
                    <h5 class="card-title">Enfield Keychain</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 900</p>

                </div>
            </div>
        </div>

        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/bracelet.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">Leather Bracelet Black</p>
                    <h5 class="card-title">Enfield Bracelet</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 350</p>

                </div>
            </div>
        </div>

        <div class=" col-md-3">
            <div class="card">
                <img src="./assets/home/belt.jpeg" class="card-img-top" alt="cooker">
                <hr>
                <div class="card-body">
                    <p class="card-text text-center">Lether Belt</p>
                    <h5 class="card-title">Enfield Logo Belt</h5>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star rate"></span>
                    <span class="fa fa-star"></span>

                    <p class="para2 font-weight-bold"> <b></b>₹ 1,500</p>

                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
